<div id="results-{{resultsType}}" class="calculator-results">
  {{#match resultsType "sl"}}
    <div class="cal-results-title">Stop Loss Calculation</div>
  {{/match}}
  {{#match resultsType "ps"}}
    <div class="cal-results-title">Position Size Calculation</div>
  {{/match}}
  <section class="cal-results-section">
    {{#match resultsType "sl"}}
      <div class="cal-result">
        <div id="{{resultsType}}-stopLoss" class="cal-result-text">$0</div>
        <div>Stop Loss</div>
      </div>
    {{/match}}

    {{#match resultsType "ps"}}
      <div class="cal-result">
        <div id="{{resultsType}}-shares" class="cal-result-text">0</div>
        <div>Shares</div>
      </div>
    {{/match}}

    <div class="cal-result">
      <div id="{{resultsType}}-effectiveRisk" class="cal-result-text">$0</div>
      <div>Effective Risk</div>
    </div>
  </section>

  <section class="cal-results-section">
    <div class="cal-result">
      <div id="{{resultsType}}-takeProfit" class="cal-result-text">$0</div>
      <div>Take Profit</div>
    </div>

    <div class="cal-result">
      <div id="{{resultsType}}-profitAmount" class="cal-result-text">$0</div>
      <div>Profit Amount</div>
    </div>
  </section>

  <section class="cal-results-section">
    <div class="cal-result">
      <div id="{{resultsType}}-toleratedRisk" class="cal-result-text">$0</div>
      <div>Tolerated Risk</div>
    </div>

    <div class="cal-result">
      <div id="{{resultsType}}-positionAmount" class="cal-result-text">$0</div>
      <div>Position Amount</div>
    </div>
  </section>
</div>
