{{#foreach posts}}
  <article class="gh-article {{post_class}}">
    <a class="gh-card-link" href="{{url}}">
      <header class="gh-card-header">
        <h3 class="gh-card-title">{{title}}</h3>
      </header>

      <div class="gh-card-excerpt gh-home-excerpt">{{excerpt}}</div>

      <div class="gh-article-meta gh-meta-expansion">
        <div class="gh-authors">
          {{authors separator=", "}}
        </div>
        <div class="gh-text-separator">|</div>
        <time
          class="gh-article-date"
          datetime="{{date format="YYYY-MM-DD"}}"
        >{{date}}</time>
      </div>
    </a>
  </article>
{{/foreach}}
